@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  padding-left: 6em;
  padding-top: .5em;
  padding-bottom: 1em;
  color: #445363;
}

h2 {
  padding-top: .45em;
  margin-bottom: .25em;
}

ul {
   list-style-type: none;
    padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #c67f88;
}

img.logo {
    width: 250px;
    padding-bottom: 40px;
}

hr {
  width: 270px;
  position: absolute;
  padding-left: 6em;
	border-top: 1px solid #8c8b8b;
}

@media only screen and (max-width: 800px) {
  img.logo {
      width: 250px;
      margin: 0 auto;
  }
  body {
    padding-left: 2em;
}
}
