<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <meta name="description" content="Home">

  <header>
  <a href="index.html"><img class="logo" alt="Barb's Bridal Boutique Logo" src="images/barb.svg"></a>
   <hr>
            <div class="container-header">
                  <ul class="nav-header">
                    <li><a href="appointments.html">Appointments</a></li>
                    <li><a href="dresses.html">Dresses</a></li>
                    <li><a href="accessories.html">Accessories</a></li>
                    <li><a href="designers.html">Designers</a></li>
                  </ul>
            </div>

  <hr>

</header>
<body>
<a href="dresses.html"><div class="salebanner">Spring Sale 30% Off Select Dresses</div></a>
    <h1>Store Appointments</h1>
    <h2>The Perks</h2>
    <p>An hour of one-on-one time with a Barb’s Bridal Boutique stylist
A chance to see, feel, and try on the gown that you’ve been dreaming about.
The complete bridal experience.</p>

    <h2>Set Your Appointment</h2>
    <p>Appointments are only available Fridays and Saturdays.</p>

    <form action="http:www.samanthaweiss.github.io/bridalboutique/appointments">
      <p>Pick Your Date</p>
      <select name="dates">
        <option value="Friday May 13">Friday May 13</option>
        <option value="Saturday May 14">Saturday May 14</option>
        <option value="Friday May 20">Friday May 20</option>
        <option value="Saturday May 21">Saturday May 21</option>
      </select>
    </form>

    <form action="http:www.samanthaweiss.github.io/bridalboutique/appointments">
      <p>Pick Your Time</p>
      <select name="times">
        <option value="12:00pm">12:00pm</option>
        <option value="2:00pm">2:00pm</option>
        <option value="4:00pm">4:00pm</option>
      </select>
    </form>

    <form action="http:www.samanthaweiss.github.io/bridalboutique/appointments">
      <p>Pick Your Time</p>
      <select name="times">
        <option value="11:00am">11:00am</option>
        <option value="1:00pm">1:00pm</option>
        <option value="3:00pm">3:00pm</option>
      </select>
    </form>

    <fieldset>
      <legend>Contact Information</legend>
      <label>First Name:<br />
        <input type="text" name="First Name" /><label><br />
      <label>Last Name:<br />
        <input type="text" name="Last Name" /><label><br />
      <label>Phone Number:<br />
        <input type="text" name="Phone Number" /><label><br />
      <label>Style of Dresses Your Are Interested In:<br />
        <input type="text" name="Style of Dresses Your Are Interested In" /><label><br />
    </fieldset>
  </body>
</main>

  <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
  <footer>
     <ul class="footer" role="navigation">
    <li><a href="contact.html">About</a></li>
    <li><a href="calendar.html">Calendar</a></li>
    <li><a href="stories.html">Stories</a></li>
  </footer>
</html>
