<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
<div class="maxwidth">

    <meta name="description" content="Home">

  <nav>

    <ul><a href="appointments.html">Appointments</a></ul>
    <ul><a href="dresses.html">Dresses</a></ul>
    <ul>Accessories</ul>
    <ul>Designers</ul>
  </nav>
  </header>
  <main>
  <body>
    <h1>Calendar</h1>
    <h2>Nicole Miller Bridal Trunk Show</h2>
    <strong> October 16-18</strong>
    <p>Nicole Miller designs are sophisitcated, modern, and effortlessly chic.
      Perfect for the classic bride or destination bride.
      Please join us to experience her newest collection of stretch silk,
      corded lace, and gorgeous back details.</p>
    <h2>Jim Hjelm Bridal Trunk Show</h2>
    <strong>November 11-13</strong>
    <p>Newly designed by Hayley Paige, the Jim Hjelm collection is diverse;
      ranging from gowns made of vintage-inspired fabrics to modern silhouettes,
      all with gorgeous details that make the gowns a joy to wear.
      Join us before the holiday season to experience the best of their
      collection and the new Fall 2015 styles.</p>
    <h2>SIRI Mother of the Occasion Trunk Show</h2>
    <strong>December 4-6</strong>
    <p>For the past several years, Siri has become a style leader in Mother of
      the Groom and Mother of the Bride dresses. Each collection is designed
      for the younger or "younger in attitude" mother. The dresses are
      understated yet sophisitcated, distinct yet affordable and come in many
      exciting colors.</p>
    <h2>Ara Gabriel Trunk Show</h2>
    <strong>December 17-20</strong>
    <p>Join us during the holidays for the Sara Gabriel Trunk Show to see the
      couture line of bridal accessories. Every veil is individually cut by a
      professional milliner, finished by hand and beatuifully packaged in a
      preservation-quality garmet bag. Sara Gabriel's collection of headpieces
      and hair jewerly is meticulously crafted from freshwater pearls. Swarovski
      crystals, hand-sculpted flowers, and glittering rhinestones. These
      stunning accessories can even be completely customized to suit your style
      needs!</p>
  </body>
</main>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

  <footer>
    <ul><a href="contact.html">About</a></ul>
    <ul><a href="calendar.html">Calendar</a></ul>
    <ul><a href="stories.html">Stories</a></ul>
  </footer>
</div>
</html>
