<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <div class="maxwidth">

    <meta name="description" content="Home">
    <header>

    <a href="index.html"><img class="logo" alt="Barb's Bridal Boutique Logo" src="images/barb.svg"></a>
     <hr>
              <div class="container-header">
                    <ul class="nav-header">
                      <li><a href="appointments.html">Appointments</a></li>
                      <li><a href="dresses.html">Dresses</a></li>
                      <li><a href="accessories.html">Accessories</a></li>
                      <li><a href="designers.html">Designers</a></li>
                    </ul>
              </div>

    <hr>

  </header>
  <main>
  <body>
    <a href="dresses.html"><div class="salebanner">Spring Sale 30% Off Select Dresses</div></a>
<div class="padding"><div class="group clearfix">

    <blockquote>"Proud to carry many couture wedding gowns made in the USA."</blockquote>

    <h5>Meet Our Employees</h5>
    <p>Barb's Bridal Boutique is locally owned in Kent Ohio's growing downtown
      fashion district. We've hand picked every detail so that your experience
      is unique and exceptional. Our stylists are dedicated to bringing you a
      personalized bridal experience that begins the moment.</p>

<div class="employees">
<figure>
  <img class="stories" src="images/Barb.jpg" alt="Photograph of Barb Kuhn"/>
</figure>
    <h4><div class="names"> Barb Kuhn</div></h4>
    <b>Boutique Manager and Owner</b>

</div>


<div class="employees">
      <figure>
        <img class="stories" src="images/Heidi copy.jpg" alt="Photograph of Heidi Martin" />
      </figure>
    <h4><div class="names"> Heidi Martin</h4>
    <b>Stylist</b>

</div>

  <div class="employees">
    <figure>
      <img class="stories" src="images/Abby.jpg" alt="Photograph of Abby Janiszewski" />
    </figure>
    <h4><div class="names"> Abby Janiszewski</h4>
    <b>Stylist</b>
</div>

  <div class="employees">
        <h5>Hours</h5>
          <p><div class="info">Monday and Thursday: 11am-8pm</p></div>
          <p><div class="info">Tuesday and Wednesday: 11am-6pm</p></div>
          <p><div class="info">Friday: By appointment only, 11am-6pm</p></div>
          <p><div class="info">Saturday: By appointment only, 10am-5pm</p></div>
          <p><div class="info">Sunday: Closed</p></div>
  </div>

<div class="employees">
<h5>Contact Info</h5>
      <p><div class="info">Phone: 330-672-3031</p></div>
      <p><div class="info">Address: 450 East Main Street, Kent, Ohio 44242</p></div>
</div>

<div class="employees">
  <h5>Map</h5><iframe
      width="100%"
      height="300"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.119194184885!2d-81.35375778458145!3d41.153750379286315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883125262d033fa9%3A0xbe5e729c3db1e76a!2s450+E+Main+St%2C+Kent%2C+OH+44240!5e0!3m2!1sen!2sus!4v1459806866210" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
</div>
</div></div>
        <!-- social media links -->
</body>
</main>
</div>
</div>
<footer>
     <ul class="footer" role="navigation">
    <li><a class="active" href="contact.html">About</a></li>
    <li><a href="calendar.html">Calendar</a></li>
    <li><a href="stories.html">Stories</a></li>
  </footer>
</div></div>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

</html>
