<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <meta name="description" content="Home">

  <header>
    <a href="index.html"><img class="logo" alt="Barb's Bridal Boutique Logo" src="images/barb.svg"></a>
   <hr>
            <div class="container-header">
                  <ul class="nav-header">
                    <li><a href="appointments.html">Appointments</a></li>
                    <li><a class="active" href="dresses.html">Dresses</a></li>
                    <li><a href="accessories.html">Accessories</a></li>
                    <li><a href="designers.html">Designers</a></li>
                  </ul>
            </div>

  <hr>

</header>
<body>
<a href="dresses.html"><div class="salebanner">Spring Sale 30% Off Select Dresses</div></a>
<nav class="breadcrumb">
  <li><a class="breadcrumb" href="index.html">Home</a> > <a class="active" href="dresses.html">Dresses</a></li>
</nav>
<div class="wrapper-left">
    <nav class="filter">
      <h3>Filter</h3>
      <li>Designer</li>
      <li>Price</li>
      <li>Neckline</li>
      <li>Length</li>
      <li>Fabric</li>
      <li>Size</li>
    </nav>
</div>
<div class="wrapper-right">
    <div class="group">
      <a class="image" href="style1340.html"><div class="dresssection"><img class="main" src="images/1340front.jpg">
            <h2 class="category">Mermaid</h2><h1 class="item">Style 1340</h1></a>
      </div></a>
        <a class="image" href="#"><div class="dresssection"><img class="main" src="images/1560front.jpg">
          <h2 class="category">Mermaid</h2><h1 class="item">Style 1560</h1></a>
      </div></a>

      <a class="image" href="#"><div class="dresssection"><img class="main" src="images/1568front.jpg">
            <h2 class="category">A-Line</h2><h1 class="item">Style 1568</h1></a>
      </div></a>
      <a class="image" href="#"><div class="dresssection"><img class="main" src="images/1342front.jpg">
            <h2 class="category">Mermaid</h2><h1 class="item">Style 1342</h1></a>
      </div></a>
      <a class="image" href="#"><div class="dresssection"><img class="main" src="images/2746back.jpg">
            <h2 class="category">Mermaid</h2><h1 class="item">Style 2746</h1></a>
      </div></a>
      <a class="image" href="#"><div class="dresssection"><img class="main" src="images/2897back.jpg">
            <h2 class="category">A-Line</h2><h1 class="item">Style 2897</h1></a>
      </div></a>

</div>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</main>

<!--<footer>
<ul class="footer" role="navigation">
  <li><a href="contact.html">About</a></li>
  <li><a href="calendar.html">Calendar</a></li>
  <li><a href="stories.html">Stories</a></li>
</ul>
</footer>-->
</html>
