<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <meta name="description" content="Home">

  <header>
Site Name or Logo
<!-- This is your navigation menu trigger.  It only shows for small screens.  You can style it any way you want, including as a hamburger menu.-->
<a href="#menu" class="menu-link">Menu</a>

   <ul class="navigation" role="navigation">
            <ul>
                <li><a href="appointment.html">Appointments</a></li>
                <li><a href="dresses.html">Dresses</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Designers</a></li>

            </ul>
</nav>
</header>
<body>

<h1 class="landingpage"> Your perfect day - you're perfect dress.</h1>
<img class="main" src ="images/cover-mobile.jpg">
<div class="group">
  <div class="section"><figure><img src="images/1.jpg"></figure>
        <figcaption><button>Find Your Dress</button></figcaption>
  </div>
  <div class="section"><figure><img src="images/2.jpg"></figure>
        <figcaption><button>Book An Appointment</button></figcaption>
  </div>
  <div class="section"><figure><img src="images/3.jpg"></figure>
        <figcaption><button>Share Your Story</button></figcaption>
  </div>

</group>

  </body>
</main>
  <footer>
    <ul><a href="contact.html">About</a></ul>
    <ul><a href="calendar.html">Calendar</a></ul>
    <ul><a href="stories.html">Stories</a></ul>
  </footer>
     <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
</html>
