<!DOCTYPE html>
<html lang="en-us">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <meta name="description" content="Home">

  <header>
  <img class="logo" alt="Barb's Bridal Boutique Logo" src="images/barb.svg">
   <hr>
   <ul class="navigation" role="navigation">
            <ul>
                <li><a href="appointment.html">Appointments</a></li>
                <li><a href="dresses.html">Dresses</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Designers</a></li>

            </ul></ul>
  <hr>

</header>
<body>
<a href="dresses.html"><div class="salebanner">Spring Sale 30% Off Select Dresses</div></a>
<section class="hero-image">
    <div class="hero-image__container"> <!-- If anyone has a more semantic way to do this, let me know -->
        <div class="hero-image__text">
            <h1>Your perfect day - you're perfect dress.</h1>
            <p>We're here to help.</p>
        </div>
    </div>
</section>


<div class="group">
  <div class="section"><img class="main" src="images/1.jpg">
        <a href="dresses.html"><button>Find Your Dress</button></a>
  </div>
  <div class="sectionlast"><img class="main" src="images/2.jpg">
        <a href="appointments.html"><button>Book An Appointment</button></a>
  </div>

  <div class="section"><img class="main" src="images/3.jpg">
        <a href="stories.html"><button>Share Your Story</button></a>
  </div>
  <div class="sectionlast"><img class="main" src="images/4.png">

        <button>Shop Now</button>
  </div>

</div>
</div>
</section>

</div>
</group>


  </body>
</main>

  <footer>
     <ul class="footer" role="navigation">
    <li><a href="contact.html">About</a></li>
    <li><a href="calendar.html">Calendar</a></li>
    <li><a href="stories.html">Stories</a></li>
  </footer>
     <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
</html>
