@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);

html, body{
  margin:-8px;
  padding:0px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

body {
  font-family: 'Opens Sans', sans-serif;
}

.maxwidth {
  padding: 0em;
  margin: 0 auto;
  max-width: 1230px;
  text-align: center;
}


nav {
  width: 100%;
}

header {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

a {
  text-decoration: none;
}

a.active {
color: #c67f88;
}

.section {
  opacity: 1;
}

.section:hover {
  opacity: .8;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sectionlast {
  opacity: 1;
}

.sectionlast:hover {
  opacity: .8;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


a.image {
  opacity: 1;
}

a.image:hover {
  opacity: .8;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#gallery {width: 100%; margin: 0 auto;}
#gallery ul { text-align: left;}
#gallery li {display: inline; width: 10%;margin-right: .5em;}
#gallery #main-img {background: url(bg_img.png) no-repeat 0 0; padding-bottom: 1em; float: left; width: 100%; }

img.thumbnail {
  width: 40%;
}
img.thumbnail:hover {
  cursor: pointer;
}

.salebanner {
  background-color: #e3b489;
  padding: 12px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .85em;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 1;

}

.salebanner:hover {
  background-color:rgba(255,255,255);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.saleitem {
  position: absolute;
  background: white;
  margin-bottom: -30em;
}
.group {
  position: relative;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
ul {
  padding: 0;
  margin: 0 auto;
}

img.main {
  width: 100%;
}
hr {
  border: 0;
   height: 1px;
   background: #d4d4d4;
   margin-top: 10px;
   margin-bottom: 10px;
}

img.logo {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 20px;
}

img.stories {
  width: 100%;
}
iframe {
  padding-top: 20px;
}
.section {
  width: 100%;
}

figure.stories {
  margin: 0;
  padding-top: 2em;
}

button {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  margin-top: -6em;
  margin-bottom: 3.5em;
  padding: .75em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(0,0,0, 0.3);
  border-color: white;
  border-style: solid;
  border-width: thin;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: .9em;
  cursor: pointer;
}

button.last {
  background-color: rgba(255,255,255, 0.1);
  cursor: pointer;
}


button.book {
  display:block; /* change this from inline-block */
  width:100%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  background-color: white;
  border-color: #445363;
  border-style: solid;
  border-width: thin;
  text-align: center;
  color: #445363;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing:1px;
  font-size: .9em;
  cursor: pointer;
}
button.book:hover {
  background-color: rgba(150, 150, 150, .2);
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
footer {
  display: block;
  width: 100%;
  height: 10px;
  position: relative;
}
.footer li {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer li a {
  padding: 1em 0.5em;
  border: 0;
  width: 200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  text-decoration: none;
  color: #445363;
  padding-right: 3em;
}

.footer li a:hover {
  color: #c67f88;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer li a.active {
  color: #c67f88;
}

.tile {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  font-family: 'Open Sans', sans-serif;
    color: white;
  margin-top: -350px;
  margin-bottom: 350px;
}


.hero-image {
    height: 30vh;
    background-image: url(images/cover-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}

.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;

}

.hero-image__text {
    z-index: 100;
    padding: 1.5em;
    font-family: 'Petit Formal Script', cursive;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0px;
  }

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
}

h1.item {
  font-family: 'Open Sans', sans-serif;
  color: #445363;
  font-size: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: .65em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2.category {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .25em;
  color: #c67f88;
}

h3 {
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
}

h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: -10px;
}
p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
}

p.hashtag {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color:#445363;
  font-size: .75em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.container-header {
  text-align: center;
  padding: 0px 0;
  margin-top: 0px;
}

.container-header a {
  color: #445363;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-left: 0px;
  padding-right: 0px;
}

.container-header a.active {
    color: #c67f88;
}

.container-header a:hover {
  color: #c67f88;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.nav-header {
    -ms-columns:2; -moz-columns:2; -webkit-columns:2; columns:2;
}

.nav-header li {
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}


.wrapper-left {
  width: 100%;
  float: left;
}
.wrapper-right {
  width: 100%;
  float: left;
}

.wrapper-left-35 {
  width: 90%;
  float: left;
  margin: 1em;
  margin-bottom: 1em;
}
.wrapper-middle-15 {
  width: 90%;
  float: left;
  margin: 1em;
  margin-top: 1em;
}

.wrapper-right-45 {
  width: 70%;
  float: left;
  margin: 1em;
  margin-left: 1.5em;
  margin-bottom: 4em;

}

nav.breadcrumb {
  text-align: left;
  margin-bottom: 3em;
  margin-left:2em;
  list-style-type: none;
  color: #969696;
  font-family: 'Open Sans', sans-serif;
    font-size: .75em;
}

a.breadcrumb {
  text-align: left;
  margin-bottom: 3em;
  list-style-type: none;
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

}
a.breadcrumb:hover {
  color: #c67f88;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
nav.filter {
  text-align: left;
  list-style-type: none;
  color: #445363;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.75em;
}
nav.filter li:hover {
  color: #c67f88;
  cursor: pointer;
}
img.mainbottom {
display:none;
}

.form {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
}

fieldset {
  border: 0;
}

.fieldset {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  border: 0;
}

legend, label, {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
}

legend {
  padding-top: 2.5em;
}

pullquote, cite, blockquote {
  font-family: 'Petit Formal Script', cursive;
  -webkit-font-smoothing: antialiased;
  color: #969696;
  font-size: 1.5em;
  color: #445363;

}
blockquote {
  text-align: center;
}

h1 {
  text-align: center;

}

h5 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0em;
}

h4 {
  text-align: left;
}

.dates {
  text-align: left;
  margin-top: 1.2em;
    color: #4a5464;
}


.title {
  width: 30%;
  padding-top: 3em;
}

.info {
  float: left;

}

.names {
  text-align: left;
  margin-bottom: .50em;
}



.employees {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.appointmentform {
  float: left;
  width: 33.3%;
  padding-top: 1.3em;
  padding-left: 1em;
}
.bookanappointment {
  margin-left: 1em;
  margin-right: 1em;
}

.calendar {
  float: left;
  width: 46%;
  margin-right:2%;
  padding-top: 2em;
}

.main {
  text-align: left;
}

<<<<<<< Updated upstream
.storyimages {
  float: left;
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
}
=======

>>>>>>> Stashed changes


.padding {
  padding: 1.5em;
  text-align: left;
}
.responsebutton {
  width: 30%;
}


b {
  text-align: left!important;
}
.additional {
  margin-top: 30px;
}
figure {
  margin: 0;
  margin-right: 15px;
}

main {
  margin-left: 6em;
  margin-right: 6em;
}

.storyimages {
  float: left;
  width: 33%;
  padding-right: 3em;
}



@media screen and (max-width: 900px) {
  .title {
    width: 100%;
    padding-top: 3em;
  }

  .info {
    width: 100%;
  }
  .responsebutton {
    width: 100%;
  }

  .calendar {
    float: left;
    width: 100%;
    margin-right:2%;
    padding-top: 2em;

  }
  .names {
    text-align: left;
    margin-bottom: .50em;
  }

  .padding {
    padding: 1em;
    text-align: left;
  }


  .appointmentform {
    width: 100%;
    padding-top: 1.3em;
  }

  .form {
    padding-left: 1em;
  }

  .fieldset {
    padding-left: 1em;
  }
  .bookanappointment {
    padding-left: : 1em;
    padding-right: 2em;
  }
.sharestory {
    width: 100%;
  }
  .storyimages {
    float: left;
    width: 100%;
    padding-right: 3em;
  }

}


@media only screen and (min-width: 650px) {
  .section {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  .sectionlast {
    width: 49%;
    float: left;
    padding-right: 0;
  }
  .employees {
    float: left;
    width: 33%;
  }

  button {
    padding-left: .5em;
    padding-right: .5em;
    font-size: .9em;
  }
  .hero-image {
      height: 60vh;
      background-image: url(images/cover-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin-bottom: 15px;
  }

  .hero-image__container {
      display: flex;
    align-items: center;
    justify-content: center;
      height: 100%;
  }

  .hero-image__text {
      z-index: 100;
      padding: 0em;
      font-family: 'Petit Formal Script', cursive;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      color: white;
      font-size: 2em;
      text-align: center;
  }
  .wrapper-left {
    width: 20%;
    float: left;
  }
  .wrapper-right {
    width: 80%;
    float: left;
  }
  .wrapper-left-35 {
    width: 46%;
    float: left;
  }
  .wrapper-middle-15 {
    display: none;
  }
  img.mainbottom {
  width: 100%;
  display:block;
  margin-top: 1em;
  }
  .wrapper-right-45 {
    width: 35%;
    float: left;
    margin-left: .5em;
  }
<<<<<<< Updated upstream
  .storyimages {
    float: left;
    width: 30%;
    padding-right: 3em;
  }
=======


>>>>>>> Stashed changes
}


@media only screen and (min-width: 768px) {
  .nav-header li {
    width: auto;
  }
  .nav-header {
  -ms-columns:auto; -moz-columns:auto; -webkit-columns:auto; columns:auto;
}
.nav-header li {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}
.container-header a {
  color: #445363;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding-left: 40px;
  padding-right: 40px;
}

.container-header a:hover {
  color: #c67f88;
  }

  #gallery {width: 100%; margin: 0 auto;}
  #gallery ul { text-align: left;}
  #gallery li {display: inline; width: 5%;margin-left: 1em;}
  #gallery #main-img {background: url(bg_img.png) no-repeat 0 0; padding-bottom: 1em; float: left; width: 75%;}

  img.thumbnail {
    width: 20%;

  }
  img.thumbnail:hover {
    cursor: pointer;
  }
}}

@media only screen and (min-width: 880px) {
  button {
    margin-top: -8em;
    margin-bottom: 6em;
  }
  .salebanner {
    font-size: 1em;
    letter-spacing: 2px;
  }
  .hero-image__text {
      z-index: 100;
      padding: 0em;
      font-family: 'Petit Formal Script', cursive;
      font-weight: 400!important;
      -webkit-font-smoothing: antialiased;
      color: white;
      font-size: 2.5em;
      text-align: center;
  }

  .wrapper-left-35 {
    width: 55%;
    float: left;
  }
  .wrapper-middle-15 {
    display:block;
    width: 15%;
    float: left;
    margin-left: 1.5em;
  }

  .wrapper-right-45 {
    width: 30%;
    float: left;
    margin-left: -1.5em;
  }
  img.mainbottom {
  display:none;
  }
}

@media only screen and (min-width: 1100px) {
  .hero-image__text {
      padding: 0em;

  }


  .aboutappointments {
    padding-left: 1em;
  }
}


/*Filter*/

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #331d35;
  background-color: #fff;
}

a {
  color: #c67f88;
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
  position: relative;
  height: 150px;
  background-color: #fff;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
  max-width: 1250px;
}

.wrapper-center {
  margin-left: 0em;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0em;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter-trigger-fixed {
  position: fixed;
}

.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
}

@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  text-align: left;
  box-shadow: inset 0 -2px 0 #c67f88;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #c67f88;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #c67f88, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #445363;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #c67f88;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #c67f88;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #c67f88;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 100%;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
  background: #fff;
  max-width: 1255px;
  text-align: center;

}

.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
  color: #4a5464;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    margin: 0 auto;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 75%;
    float: right;
  }
}

/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
  position: absolute;
  margin-left: -9999px;
  top: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #fff;
  z-index: 2;

}
.cd-filter form {
  padding: 70px 20px;
    color: #4a5464;
}

.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #c67f88;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  text-decoration: underline;
}
.cd-filter.filter-is-visible {
  margin-left: auto;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 2em;

  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;

    text-indent: 0;
    color: #445363;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color:#c67f88;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #445363;
    left: 2em;
  }

}

/* --------------------------------

xcustom form elements

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #c67f88;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
    color: #4a5464;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #c67f88;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */

  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
  text-align: left;
  list-style-type: none;

}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #c67f88;
  background-color: #c67f88;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}
