@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);

html, body{
  margin:-8px;
  padding:0px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5em;
}

body {
  max-width: 1230px;
  padding: 1em;
  font-family: 'Opens Sans', sans-serif;
}

nav {
  width: 100%;
}

header {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

a {
  text-decoration: none;
}

a.active {
color: #c67f88;
}
.section {
  opacity: 1;
}

.section:hover {
  opacity: .8;
  color: white;
}

.sectionlast {
  opacity: 1;
}

.sectionlast:hover {
  opacity: .8;
  color: white;
}


.dresssection {
  opacity: 1;
}

.dresssection:hover {
  opacity: .8;
  color: white;
}

.dresssectionlast {
  opacity: 1;
}

.dresssectionlast:hover {
  opacity: .8;
  color: white;
}


.salebanner {
  background-color: #e3b489;
  padding: 12px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .85em;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 1;
}

.salebanner:hover {
  background-color:rgba(255,255,255);
  opacity: 0.8;
}

.group {
  position: relative;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
ul {
  padding: 0;
  margin: 0 auto;
}

img.main {
  width: 100%;
}
hr {
  border: 0;
   height: 1px;
   background: #d4d4d4;
   margin-top: 10px;
   margin-bottom: 10px;
}

img.logo {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.section {
  width: 100%;
}

.dresssection {
  width: 100%;
}

button {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  margin-top: -6em;
  margin-bottom: 3.5em;
  padding: .75em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(0,0,0, 0.3);
  border-color: white;
  border-style: solid;
  border-width: thin;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: .9em;
  cursor: pointer;
}

button.last {
  background-color: rgba(255,255,255, 0.1);
  cursor: pointer;
}


button.book {
  display:block; /* change this from inline-block */
  width:100%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  background-color: white;
  border-color: #969696;
  border-style: solid;
  border-width: thin;
  text-align: center;
  color: #969696;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing:1px;
  font-size: .9em;
  cursor: pointer;
}
button.book:hover {
  background-color: rgba(150, 150, 150, .2);
}
footer {
  display: block;
  width: 100%;
  height: 10px;
  position: relative;
}
.footer li {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer li a {
  padding: 1em 0.5em;
  border: 0;
  width: 200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  text-decoration: none;
  color: #969696;
  padding-right: 3em;
}

.footer li a:hover {
  color: #c67f88;
}

.tile {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  font-family: 'Open Sans', sans-serif;
    color: white;
  margin-top: -350px;
  margin-bottom: 350px;
}


.hero-image {
    height: 30vh;
    background-image: url(images/cover-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}

.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;

}

.hero-image__text {
    z-index: 100;
    padding: 1.5em;
    font-family: 'Petit Formal Script', cursive;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0px;
  }

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
}

h1.item {
  font-family: 'Open Sans', sans-serif;
  color: #969696;
  font-size: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: .65em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2.category {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .25em;
  color: #c67f88;
}

h3 {
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
}

h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: -10px;
}
p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
}

p.hashtag {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color:#969696;
  font-size: .75em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.container-header {
  text-align: center;
  padding: 0px 0;
  margin-top: 0px;
}

.container-header a {
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-left: 0px;
  padding-right: 0px;
}

.container-header a.active {
    color: #c67f88;
}

.container-header a:hover {
  color: #c67f88;
}


.nav-header {
    -ms-columns:2; -moz-columns:2; -webkit-columns:2; columns:2;
}

.nav-header li {
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}


.wrapper-left {
  width: 100%;
  float: left;
}
.wrapper-right {
  width: 100%;
  float: left;
}

.wrapper-left-35 {
  width: 90%;
  float: left;
  margin: 1em;
  margin-bottom: 1em;
}
.wrapper-middle-15 {
  width: 90%;
  float: left;
  margin: 1em;
  margin-top: 1em;
}

.wrapper-right-45 {
  width: 70%;
  float: left;
  margin: 1em;

}

nav.breadcrumb {
  text-align: left;
  margin-bottom: 3em;
  list-style-type: none;
  color: #969696;
  font-family: 'Open Sans', sans-serif;
    font-size: .75em;
}

a.breadcrumb {
  text-align: left;
  margin-bottom: 3em;
  list-style-type: none;
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

}
a.breadcrumb:hover {
  color: #c67f88;
  cursor: pointer;
}
nav.filter {
  text-align: left;
  list-style-type: none;
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.75em;
}
nav.filter li:hover {
  color: #c67f88;
  cursor: pointer;
}
img.mainbottom {
display:none;
}

.form {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
}

.fieldset {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  border: 0;
}

legend, label, {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #4a5464;
  border: 0;
}


@media only screen and (min-width: 650px) {
  .section {
    width: 49%;
    float: left;
    padding-right: 2%;
  }
  .sectionlast {
    width: 49%;
    float: left;
    padding-right: 0;
  }

  .dresssection {
    width: 45%;
    float: left;
    padding-right: 2%;
  }

  button {
    padding-left: .5em;
    padding-right: .5em;
    font-size: .9em;
  }
  .hero-image {
      height: 60vh;
      background-image: url(images/cover-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin-bottom: 15px;
  }

  .hero-image__container {
      display: flex;
    align-items: center;
    justify-content: center;
      height: 100%;
  }

  .hero-image__text {
      z-index: 100;
      padding: 0em;
      font-family: 'Petit Formal Script', cursive;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      color: white;
      font-size: 2em;
      text-align: center;
  }
  .wrapper-left {
    width: 20%;
    float: left;
  }
  .wrapper-right {
    width: 80%;
    float: left;
  }
  .wrapper-left-35 {
    width: 40%;
    float: left;
  }
  .wrapper-middle-15 {
    display: none;
  }
  img.mainbottom {
  width: 100%;
  display:block;
  margin-top: 1em;
  }
  .wrapper-right-45 {
    width: 50%;
    float: right;
    margin-left: 0em;
  }
}

@media only screen and (min-width: 768px) {
  .nav-header li {
    width: auto;
  }
  .nav-header {
  -ms-columns:auto; -moz-columns:auto; -webkit-columns:auto; columns:auto;
}
.nav-header li {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}
.container-header a {
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding-left: 40px;
  padding-right: 40px;
}

.container-header a:hover {
  color: #c67f88;
  }

}

@media only screen and (min-width: 880px) {
  button {
    margin-top: -8em;
    margin-bottom: 6em;
  }
  .salebanner {
    font-size: 1em;
    letter-spacing: 2px;
  }
  .hero-image__text {
      z-index: 100;
      padding: 0em;
      font-family: 'Petit Formal Script', cursive;
      font-weight: 400!important;
      -webkit-font-smoothing: antialiased;
      color: white;
      font-size: 2.5em;
      text-align: center;
  }
  .dresssection {
    width: 30%;
    float: left;
    padding-right: 2%;
  }
  .wrapper-left-35 {
    width: 35%;
    float: left;
  }
  .wrapper-middle-15 {
    display:block;
    width: 15%;
    float: left;
    margin-left: 1.5em;
  }

  .wrapper-right-45 {
    width: 30%;
    float: left;
    margin-left: 1.5em;
  }
  img.mainbottom {
  display:none;
  }

}

@media only screen and (min-width: 1100px) {
  .hero-image__text {
      padding: 0em;

  }
}
