@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);


html, body{
  margin:-8px;
  padding:0px;
  margin: 0 auto;
  text-align: center;
}

body {
  max-width: 1230px;
  padding: 1em;
  font-family: 'Opens Sans', sans-serif;
}

nav {
  width: 100%;
}

header {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

a {
  text-decoration: none;
}

.salebanner {
  background-color: #e3b489;
  padding: 12px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .85em;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

ul {
  padding: 0;
  margin: 0 auto;
}

img.main {
  width: 100%;
}
hr {
  border: 0;
   height: 1px;
   background: #d4d4d4;
   margin-top: 10px;
   margin-bottom: 10px;
}

img.logo {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.section {
  width: 100%;
}

button {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  background: #e8c6a7;
  margin-top: -6em;
  margin-bottom: 3.5em;
  padding: .75em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #fff;
  border: none;
  text-align: center;
  color: #c67f88;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: .9em;
  cursor: pointer;
}

button:hover {
    color: #fff;
    background-color: #c67f88;
}

.footer li {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer li a {
  padding: 1em 0.5em;
  border: 0;
  width: 200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  text-decoration: none;
  color: #969696;
  padding-right: 3em;
}

.footer li a:hover {
  color: #c67f88;
}

.tile {
  display:block; /* change this from inline-block */
  width:70%; /* setting the width */
  margin:0 auto; /* this will center  it */
  position:relative;
  font-family: 'Open Sans', sans-serif;
    color: white;
  margin-top: -350px;
  margin-bottom: 350px;
}
h1.tile {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.5em;
}
h2.tile {
  font-weight: 400;
  margin-top: -320px;
  margin-bottom: 235px;
}

.hero-image {
    height: 30vh;
    background-image: url(images/cover-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}

.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;

}

.hero-image__text {
    z-index: 100;
    padding: 3.5em;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}


@media only screen and (min-width: 650px) {
  .section {
    width: 49%;
    float: left;
    padding-right: 2%;
  }
  .sectionlast {
    width: 49%;
    float: left;
    padding-right: 0;
  }
  button {
    padding-left: .5em;
    padding-right: .5em;
    font-size: .9em;
  }
  .hero-image {
      height: 60vh;
      background-image: url(images/cover-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin-bottom: 15px;
  }

  .hero-image__container {
      display: flex;
    align-items: center;
    justify-content: center;
      height: 100%;

  }

  .hero-image__text {
      z-index: 100;
      padding: 1em;
      font-family: 'Dancing Script', cursive;
      color: white;
      font-weight: 400;
      font-size: 2em;
      text-align: center;
  }
}

@media only screen and (min-width: 880px) {
  button {
    margin-top: -8em;
    margin-bottom: 6em;
  }
  .salebanner {
    font-size: 1em;
    letter-spacing: 1px;
  }
}






.container-header {
  text-align: center;
  padding: 0px 0;
  margin-top: 0px;

}

.container-header a {
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding-left: 0px;
  padding-right: 0px;
}

.container-header a:hover {
  color: #c67f88;
}

.nav-header {
    -ms-columns:2; -moz-columns:2; -webkit-columns:2; columns:2;
}

.nav-header li {
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .nav-header li {
    width: auto;
  }
  .nav-header {
  -ms-columns:auto; -moz-columns:auto; -webkit-columns:auto; columns:auto;
}
.nav-header li {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}
.container-header a {
  color: #969696;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  padding-left: 40px;
  padding-right: 40px;
}
}
