<!DOCTYPE html>
<html lang="en-us">
  <header role="banner">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barb's Bridal Boutique</title>
    <div class="maxwidth">
    <meta name="description" content="Style1340">


    <a href="index.html"><img class="logo" alt="Barb's Bridal Boutique Logo" src="images/barb.svg"></a>
   <hr>
            <div class="container-header">
                  <ul class="nav-header">
                    <li><a href="appointments.html">Appointments</a></li>
                    <li><a class="active" href="dresses.html">Dresses</a></li>
                    <li><a href="accessories.html">Accessories</a></li>
                    <li><a href="designers.html">Designers</a></li>
                  </ul>
            </div>

  <hr>

</header>
<main role="main">
<body>
<a href="dresses.html"><div class="salebanner">Spring Sale 30% Off Select Dresses</div></a>
<nav class="breadcrumb">
  <li><a class="breadcrumb" href="index.html">Home</a> / <a class="breadcrumb" href="dresses.html">Dresses</a> / <a class="active" href="style1340.html">Style 1340</a></li>
</nav>
<div class="group clearfix">

<div class="wrapper-left-35">
  <div id="gallery">
<img id="main-img" class="main" src="images/1340front.jpg">
<ul>
  <li><img class="thumbnail" src="images/1340front.jpg" alt="" /></li>
  <li><img class="thumbnail" src="images/1340back.jpg" alt="" /></li>
</ul>
</div>
</div>


<div class="wrapper-right-45">
<h4>Style 1340</h4>
<p>$2,100</p>
<p>
<b>Colors</b>
<br>
White, Ivory, Gold/Ivory</p>
<p>
<b>Fabric</b>
<br>
Lace</p>
<p>
<b>Sizes</b>
<br>
2-32</p>
<p>
<b>Description</b>
<br>
Highlight your curves in this lace sheath,
with sheer illusion paneling at the neckline
and back.</p>
<p>
<b>Sizing and Fit</b>
<br>
Length: Size small measures 32" from
shoulder to hem.</p>
<p>
Model info: Model is 5'7" and measures
30" bust, 23" waist, 34" hip. She is wearing
a size small.</p>
<p>
Fabric: Fabric has no stretch.</p>
<hr>
<p class="hashtag">#barbsbridal</p>
<button class="book">Book an Appointment</button>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/JavaScript">
// prepare the form when the DOM is ready
$(document).ready(function() {
	$("#gallery li img").hover(function(){
		$('#main-img').attr('src',$(this).attr('src').replace('thumb/', ''));
	});
	var imgSwap = [];
	 $("#gallery li img").each(function(){
		imgUrl = this.src.replace('thumb/', '');
		imgSwap.push(imgUrl);
	});
	$(imgSwap).preload();
});
$.fn.preload = function() {
    this.each(function(){
        $('<img/>')[0].src = this;
    });
}
</script>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</main>
</div>
<footer role="contentinfo">
<ul class="footer" role="navigation">
  <li><a href="contact.html">About</a></li>
  <li><a href="calendar.html">Calendar</a></li>
  <li><a href="stories.html">Stories</a></li>
</ul>
</footer>
</div>
</html>
